.section_header_title {
    text-align: center;
}

.section_header_description {
    text-align: center;
    color: #A7A7A7;
}


/* How section */

.section_how {
    margin: 50px auto;
    width: 90%;
}

.how {
    text-align: center;
    margin: 30px;
}

.how_title {
    margin-top: 20px;
}

.how_icon {
    color: #80A142;
    font-size: 5rem;
}

.how_description {
    color: #A7A7A7;
}


/* Why us section */

.section_why_us {
    background-image: url('../images/why_us_background.jpg');
    background-size: cover;
    padding: 20px;
    margin-top: 50px;
}

.section_why_us .section_header_title {
    color: #fff;
    margin: 20px 0 0;
}

.section_why_us .section_content {
    margin: 0 auto;
    width: 90%;
}

.why_us {
    margin-top: 30px;
}

.why_us_icon {
    color: #fff;
    font-size: 5rem;
}

.why_us_title {
    color: #80A142;
    margin: 20px 0;
}

.why_us_description {
    color: #fff;
    margin: 0;
}


/* Feedback section */

.section_feedback {
    margin: 50px auto;
    width: 90%;
}

.section_feedback .section_header_title {
    margin: 0;
}

.section_feedback .section_content {
    margin-top: 50px;
}

.feedback {
    margin: 30px 0;
}

.feedback_title {
    color: #80A142;
}

.feedback_description {
    color: #A7A7A7;
}

.feedback_icon {
    color: #80A142;
}

.section_pub {
    margin: 50px auto;
    width: 90%;
}

.pub_image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    box-shadow: 10px 10px 60px rgb(0 0 0 / 20%);
    transition: 0.2s;
    border-radius: 5px;
}

.pub_image:hover {
    box-shadow: 10px 10px 60px rgb(0 0 0 / 40%);
    transition: 0.2s;
}

@media screen and (min-width: 950px) {
    .section_how .section_content {
        display: flex;
        justify-content: center;
    }
    .section_why_us .section_content {
        display: flex;
        justify-content: center;
    }
    .why_us {
        text-align: center;
        margin: 30px;
    }
    .section_feedback .section_content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .feedback {
        margin: 30px;
    }
}