/* Presentation section */

.section_presentation {
    padding: 20px;
    margin: 50px 0;
}

.section_presentation .section_header_title {
    margin: 0;
}

.section_presentation .section_content {
    margin: 0 auto;
    width: 90%;
}

.presentation_text {
    text-align: center;
}

@media screen and (min-width: 950px) {
    .section_presentation .section_content {
        margin: 0 auto;
        width: 50%;
    }
}